local-ai/**
!local-ai/.keep
!local-ai/gpt-3.5-turbo.yaml
!local-ai/openllama-instruct-chat.tmpl
!local-ai/openllama-instruct-completion.tmpl

ollama/**
!ollama/.keep

text-generation-webui/characters/*
text-generation-webui/extensions/*
text-generation-webui/loras/*
text-generation-webui/presets/*
text-generation-webui/prompts/*
text-generation-webui/models/*
!text-generation-webui/characters/Assistant.png
!text-generation-webui/characters/Assistant.yaml

whishper_data/**
!whishper_data/.keep

vllm/**
!vllm/.keep

.vscode
